@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --neutral-900: hsl(0, 0%, 7%);
  --neutral-800: hsl(0, 0%, 15%);
  --neutral-500: hsl(240, 3%, 46%);
  --neutral-400: hsl(240, 1%, 59%);
  --neutral-0: hsl(0, 0%, 100%);
  --blue-600: hsl(214, 100%, 55%);
  --blue-400: hsl(210, 100%, 65%);
  --red500: hsl(354, 63%, 57%);
  --green-500: hsl(140, 63%, 57%);
  --yellow400: hsl(49, 85%, 70%);
  --primary-font: "Sora", sans-serif;
  --fw400: 400;
  --fw600: 600;
  --fw700: 700;
  --radius8: 8px;
  --radius10: 10px;
  --transition: all 0.4s ease;
  --line-height: 52px;
  --letter-spacing: 1.4%;
  --border07: hsla(240, 3%, 46%, 0.7);
}

body {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: var(--fw400);
  color: var(--neutral-0);
  background-color: var(--neutral-900);
  width: 100%;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.confetti {
  background: url("./assets/images/pattern-confetti.svg"), var(--neutral-900);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom left;
}

main {
  width: 90vw;
  max-width: 1200px;
}

/* === header === */

.score-img {
  width: 24px;
  height: 24px;
  background-image: url("./assets/images/icon-personal-best.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.score-title {
  color: var(--neutral-400);
  margin-right: 2px;
}

.score-title-mobile {
  display: none;
  color: var(--neutral-400);
  margin-right: 2px;
}

.title-wpm {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header-score {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 64px;
}

.header-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* === main tab menu === */

.section__menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 0.75px solid var(--border07);
}
.menu-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.tab-title {
  color: var(--neutral-400);
  font-size: 18px;
}

.tab-score {
  color: var(--neutral-0);
  font-weight: var(--fw700);
  font-size: 20px;
}

.menu-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-right: 24px;
  border-right: 0.5px solid var(--border07);
}

.last-tab {
  border: none;
}

.tab-title-small {
  color: var(--neutral-400);
  font-size: 16px;
}

.chips-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.chip-item {
  padding: 4px 8px;
  border-radius: var(--radius8);
  border: 0.75px solid var(--neutral-0);
  cursor: pointer;

}
.selected {
    padding: 4px 8px;
  border-radius: var(--radius8);
  color: var(--blue-400);
  border: 0.75px solid var(--blue-400);
}

.chip-item:hover {
  border: 0.75px solid var(--blue-400);
  color: var(--blue-400);
}

.chip-item:active {
  outline-offset: 2px;
  outline: 1px solid var(--blue-400);
}


/* === mobile menu bar=== */

select {
  appearance: base-select;
  color: var(--neutral-0);
  background-color: transparent;
  border: 0.75px solid var(--neutral-0);
  border-radius: var(--radius8);
  padding: 8px 40px;
  font-family: var(--primary-font);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

select::picker(select) {
  appearance: base-select;
  border-radius: var(--radius8);
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border: none;
}

option {
  padding: 8px 0 8px 16px;
  border-bottom: 0.1px solid var(--border07);
  position: relative;
}

option::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid var(--neutral-0);
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

option::checkmark {
  content: "";
  width: 24px;
  height: 24px;
}
option:checked::before {
  width: 8px;
  height: 8px;
  border: 6px solid var(--blue-400);
}

.dropdown-menu {
  display: none;
  gap: 24px;
  margin: 24px auto;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

/* === typing section === */

.section__typing {
  position: relative;
  padding: 40px 0;
  border-top: 0.5px solid var(--border07);
}

.start-btn {
  border: none;
  font-family: var(--primary-font);
  font-size: 20px;
  background-color: var(--blue-600);
  color: var(--neutral-0);
  border-radius: var(--radius10);
  padding: 16px 24px;
  cursor: pointer;
  font-weight: var(--fw600);
  transition: var(--transition);
}

.start-btn:hover {
  background-color: var(--blue-400);
}

.start-btn:focus {
  outline-offset: 3px;
  outline: 1.5px solid var(--blue-400);
}

.start-text {
  font-size: 20px;
  font-weight: var(--fw600);
}

.btn-text {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  margin: 100px auto;
  z-index: 20;
  position: absolute;
}

.typing-text {
  font-size: 38px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--neutral-400);
  width: 100%;
  height: 100%;
  position: relative;
}


.input-container{
    position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-family: var(--primary-font);
  font-size: 38px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--green-500);
  padding-top: 0;
  overflow-wrap: break-word;
  text-wrap: wrap;
  resize: none;
  opacity: 0;
}

.input-container:focus{
  outline: none;
}


.blur-text {
  filter: blur(8px);
}


.yellow-text {
  color: var(--yellow400);
}

.success-text{
  color: var(--green-500);
  position: relative;
}



.error-text{
  color: var(--red500);
  text-decoration: underline;
}

.default-text{
  color: var(--neutral-400);
}

.text-cursor{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 32px;
  top: 2px;
  border-radius: 4px;
  background: var(--border07);
  opacity: .6;
  mix-blend-mode:luminosity;
  animation: blink 2s step-start infinite;
}

@keyframes blink{
  50%{
    opacity:.5;
  }
}
/* .default-text::after{
  content:"";
    width: 16px;
  height: 32px;
  border-radius: 2px;
  background: var(--neutral-400);
  position: absolute;
opacity: .4
} */

/* .next-text{
  width: 16px;
  height: 40px;
  border-radius: var(--radius8);
  background: var(--neutral-400);
  opacity: .5;
} */

.error-modal{
  background: var(--neutral-800);
  border-radius: var(--radius10);
  padding: 24px;
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  box-shadow: 8px 8px 10px rgba(3, 2, 12, 0.3);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  z-index: 20;
}

.error-close{
  width: 24px;
  height: 24px;
  background-image: url('./assets/images/close.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor:pointer;
  margin: -10px -10px -6px auto;
}

hr {
  border: none;
  border-top: 0.5px solid var(--border07);
}

.restart-btn {
  border: none;
  font-family: var(--primary-font);
  font-size: 20px;
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  border-radius: var(--radius10);
  padding: 16px 24px;
  cursor: pointer;
  font-weight: var(--fw600);
  transition: var(--transition);
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 32px auto;
}

.restart-btn:hover {
  background-color: var(--neutral-500);
}

.restart-btn:focus {
  outline-offset: 3px;
  outline: 1.5px solid var(--neutral-800);
}

/* === test complete === */

.section__complete {
  padding: 40px 0;
  background: url("./assets/images/pattern-star-2.svg"),
    url("./assets/images/pattern-star-1.svg");
  background-repeat: no-repeat;
  background-size: 24px, 80px;
  background-position: top 100px left, top 74% right;
}

.section__high-score {
  background: none;
}

.check-circle {
  width: 88px;
  height: 88px;
  border-radius: 100px;
  background-color: hsla(140, 63%, 57%, 0.3);
  outline: 12px solid hsla(140, 63%, 57%, 0.1);
  position: relative;
  margin: 0 auto;
}

.check-circle::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  background: url("./assets/images/icon-completed.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 100%;
  background-position: center;
  z-index: 10;
  top: 12px;
  left: 12px;
}

.high-score-mark {
  width: 64px;
  height: 64px;
  background: url("./assets/images/icon-new-pb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-top: 32px;
  font-size: 40px;
}
h2 {
  color: var(--neutral-400);
  font-weight: var(--fw400);
  font-size: 18px;
  text-align: center;
  margin: 24px auto 56px auto;
}

.card-title {
  font-size: 18px;
  color: var(--neutral-400);
}

.card-score {
  font-size: 24px;
  font-weight: var(--fw700);
}

.card-accuracy-score {
  color: var(--red500);
}

.card-characters-score {
  color: var(--green-500);
}

.span-gray {
  color: var(--neutral-400);
}

.span-red {
  color: var(--red500);
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  border-radius: var(--radius8);
  border: 0.75px solid var(--border07);
  gap: 8px;
}

.score-cards {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 50vw;
  max-width: 800px;
  margin: 0 auto;
}

.variable-btn {
  border: none;
  font-family: var(--primary-font);
  font-size: 20px;
  background-color: var(--neutral-0);
  color: var(--neutral-900);
  border-radius: var(--radius10);
  padding: 16px 24px;
  cursor: pointer;
  font-weight: var(--fw600);
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 80px auto 200px auto;
}

.variable-btn:hover {
  background-color: var(--neutral-400);
}

.variable-btn:focus {
  outline-offset: 3px;
  outline: 1.5px solid var(--neutral-0);
}

footer {
  font-size: 14px;
  opacity: 0.6;
  margin: 24px auto;
}

/* === responsive === */

@media screen and (max-width: 1100px) {
  .menu-tab {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .tab-score {
    font-size: 28px;
  }
}

@media screen and (max-width: 950px) {
  header {
    margin-bottom: 40px;
  }
  .score-title {
    display: none;
  }
  .score-title-mobile {
    display: block;
  }
  .section__menu-container {
    border: none;
  }
  .menu-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    justify-content: space-between;
  }
  .menu-right {
    display: none;
  }
  .dropdown-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
  }
}

@media screen and (max-width: 640px) {
  .section__complete {
    background: url("./assets/images/pattern-star-2.svg"),
      url("./assets/images/pattern-star-1.svg");
    background-repeat: no-repeat;
    background-size: 24px, 40px;
    background-position: top 100px left, bottom right;
  }

  .score-cards {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .variable-btn {
    margin-bottom: 0px;
  }
}
